<h1>Result</h1>

<h2>Your answer is : <%= @answer %>  </h2>
<p> <%= @filtered_result%> </p>
<p> <%= @parse_result %>  </p>
<p> <%= @grid %>  </p>
<p> <%=@response  %> </p>


<%= link_to "New game", new_path %>
